@media only screen and (max-width: 1025px) {
    .container {
        max-width: 100%;
        margin: 5%;
        padding-left: 20%;
    }

    .sec-img {
        min-height: 18%;
        margin: 30px 35px;
    }
}

@media only screen and (max-width: 769px) {
    .sec-img {
        display: none;
    }

    .container {
        padding-left: 0;
    }

    h2 {
        display: block;
        margin: 0;
        padding: 10px;
        background-color: var(--primary-color);
        color: #fff;
        z-index: 2;
        position: relative;
        text-transform: capitalize;
        font-size: 20px;
    }

    .sec-header {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        height: 30%;
        padding-top: 8%;
        transform: translateY(-265px);
        z-index: 1;
        transition: all ease-in-out 0.5s;
        align-items: start;
    }

    .open-toggle {
        position: absolute;
        top: 10px;
        right: 15px;
        height: 30px;
        width: 40px;
        z-index: 3;
        cursor: pointer;
        border: 3px solid #ffffff9c;
        border-radius: 5px;
        padding: 4px;
    }

    #toggle:checked~.sec-header {
        transform: translateX(0);
    }

    #toggle:checked~.open-toggle>.spinner.middle {
        opacity: 0;
    }

    #toggle:checked~.open-toggle>.spinner.top {
        transform: rotate(135deg);
        margin-top: 8px;
    }

    #toggle:checked~.open-toggle>.spinner.bottom {
        transform: rotate(-135deg);
        margin-top: -9px;
    }

    .spinner {
        height: 3px;
        background-color: #fff;
        transition: all ease-in-out 0.3s;
    }

    .spinner.middle,
    .spinner.bottom {
        margin-top: 3px;
    }
    .sec-header ul {
        padding: 10px;
        gap: 15px;
        text-align: start;
    }
    .info ul {
        flex-wrap: wrap;
        column-gap: 25px;
    }
}

@media only screen and (max-width: 668px) {
    .sec-content h6{
        display: none;
    }
    .heading-6{
        opacity: 1;
    }
    .sec-header{
        height: 70%;
    }
}

@media only screen and (max-width: 376px) {
    .sec-header{
        height: 40%;
    }
}
